################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API_Barber/.vs/API_Barber/FileContentIndex
